@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services.Navigation

@inject IVariationContextAccessor VariationContextAccessor
@inject IPublishedContentCache PublishedContentCache
@inject IDocumentNavigationQueryService DocumentNavigationQueryService
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{
    var rootContent = Umbraco.ContentAtRoot();
    var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();
    var logo = siteSettings?.SiteLogo;

	var contactAddress = siteSettings!.ContactAddress ?? "Ingen address";

    var selection = Model.Root().Children().Where(x => x.IsVisible(PublishedValueFallback)).ToArray();
}
<nav class="flex-between container">
    @if (logo != null)
    {
        <a href="/" class="logo">
            <img src="@logo.Url()" alt="@logo.Name">
        </a>
    }
    @if (selection?.Length > 0)
    {
        <ul>
            @foreach (var item in selection)
            {
                <li class="@(item.IsAncestorOrSelf(Model) ? "current" : null)">
                    <a href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                </li>
            }
        </ul>
    }

    <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
</nav>
